<div id="Contact" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Contact</h3>
        <p class="main-text">Feel free to contact me</p>

        <form action="https://contactform.dk/zuhairtaha1@gmail.com">
            <div class="input-field">
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn-small">
                <i class="material-icons right">send</i>
                send
            </button>
        </form>

    </div>
</div>