<div id="Courses" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Courses</h3>

        <ul class="collection no-borders">

            <li class="collection-item avatar">
                <i class="material-icons circle red darken-2">bookmarks</i>
                <span class="title">Web development course (MERN Stack)</span>
                <p>
                    <a target="_blank" href="https://hackyourfuture.dk/">
                        Hack Your Future Coding school</a>
                    , <br>
                    Copenhagen, Denmark (july 2018 ~ now)
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle red darken-2">play_arrow</i>
                <p>
                    Many online programming and web development courses, at youtube, udemy, lynda, ...
                </p>
            </li>

        </ul>

    </div>
</div>