<div id="Education" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Education</h3>
        <div class="education">

            <div class="education-box">
                <span class="education-date">
                    <span>2012-2018</span>
                </span>
                <h3>
                    <a target="_blank" class="hvr-float-shadow" href="http://svuonline.org">
                        Syrian Virtual University
                    </a>
                </h3>

                <p>Bachelor Degreebr <br/>
                    Information System Engineering <br>
                    Software Applications Developing <br>
                    <i class="fa fa-map-marker"></i> Damascus, Syria
                </p>
                <div class="at-below-post-homepage addthis_tool"
                     data-url="https://certy.px-lab.com/attorney/certy_timeline/bebsi-v-goga-gola/">
                </div>
            </div>


            <div class="education-box">
                <span class="education-date">
                    <span>2008-2010</span>
                </span>
                <h3>
                    <a style="font-size:.6em" target="_blank" class="hvr-float-shadow" href="http://site.ypu.edu.sy/">
                        Yarmouk Private University
                    </a>
                </h3>
                <p>Information Technology <br>
                    <i class="fa fa-map-marker"></i> Daraa, Syria
                </p>
            </div>


            <div class="education-box">
                <span class="education-date">
                    <span>2004-2007</span>
                </span>
                <h3>
                    <a target="_blank" class="hvr-float-shadow" href="http://www.tishreen.edu.sy/">
                        Tishreen University
                    </a>
                </h3>
                <p>Mechatronics Engineering <br>
                    <i class="fa fa-map-marker"></i> Latakia, Syria
                </p>
            </div>


        </div>
    </div>
</div>