<div id="Languages" class="card z-depth-3">
    <div class="card-content z-depth-0 text-center center-align">



        <div class="Progress" data-percentage="100">
				<span class="progress-left">
					<span class="progress-bar"></span>
				</span>
            <span class="progress-right">
					<span class="progress-bar"></span>
				</span>
            <div class="progress-value">
                <div>
                    Ar<br>
                    <span>Arabic</span>
                </div>
            </div>
        </div>


        <div class="Progress" data-percentage="75">
				<span class="progress-left">
					<span class="progress-bar"></span>
				</span>
            <span class="progress-right">
					<span class="progress-bar"></span>
				</span>
            <div class="progress-value">
                <div>
                    En<br>
                    <span>English</span>
                </div>
            </div>
        </div>

        <div class="Progress" data-percentage="15">
				<span class="progress-left">
					<span class="progress-bar"></span>
				</span>
            <span class="progress-right">
					<span class="progress-bar"></span>
				</span>
            <div class="progress-value">
                <div>
                    Da<br>
                    <span>Danish</span>
                </div>
            </div>
        </div>


    </div>
</div>