<div id="Personal-information" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Personal information</h3>

        <table class="my-list">
            <tr>
                <td><i class="material-icons">person</i>
                <span class="personal-label-span">Name:</span></td>
                <td>Zuhair Taha</td>
            </tr>
            <tr>
                <td><i class="material-icons">location_on</i>
                <span class="personal-label-span">Address:</span></td>
                <td>
                    <a href="https://goo.gl/maps/6FjARoqizVz" target="_blank">
                        4800 Nykøbing F, Denmark</a>
                </td>
            </tr>
            <tr>
                <td><i class="material-icons">email</i>
                <span class="personal-label-span">E-mail:</span></td>
                <td><a href="mailto:admin@tahasoft.com">admin@tahasoft.com</a></td>
            </tr>
            <tr>
                <td><i class="material-icons">phone</i>
                <span class="personal-label-span">Phone:</span></td>
                <td><a href="tel:+4591491462">+45 914 914 62</a></td>
            </tr>
        </table>
        <br>

    </div>
</div>








