<div id="Personal-information" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Personal information</h3>

        <table class="my-list">
            <tr>
                <td><i class="material-icons">person</i>Name:</td>
                <td>Zuhair Taha</td>
            </tr>
            <tr>
                <td><i class="material-icons">cake</i>Birth date:</td>
                <td>10/02/1984</td>
            </tr>
            <tr>
                <td><i class="material-icons">location_on</i> Address:</td>
                <td>4800 Nykøbing F, Denmark</td>
            </tr>
            <tr>
                <td><i class="material-icons">email</i> E-mail:</td>
                <td>admin@tahasoft.com</td>
            </tr>
            <tr>
                <td><i class="material-icons">phone</i> Phone:</td>
                <td>+45 914 914 62</td>
            </tr>
            <tr>
                <td><i class="material-icons">flag</i> Nationality:</td>
                <td>Syrian</td>
            </tr>


        </table>
        <br>

    </div>
</div>








