<div style="height:100%" id="Personal-information" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Personal information</h3>

        <div class="my-list">

                <i class="material-icons">person</i>
                    <span class="personal-label-span">Name:</span>
                Zuhair Taha
            <br>

                <i class="material-icons">email</i>
                    <span class="personal-label-span">E-mail:</span>
                <a href="mailto:zuhairtaha1@gmail.com">zuhairtaha1@gmail.com</a>

            <br>
                <i class="material-icons">phone</i>
                    <span class="personal-label-span">Phone:</span>
                <a href="tel:+4591491462">+45 914 914 62</a>

        </div>

    </div>
</div>








