<div class="card z-depth-3" id="samples">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Samples of my work:</h3>

        <div class="row">
            <div class="col s12">
                <ul class="tabs " id="filter-samples">
                    <li data-filter="php" class="tab col s3"><a  href="#">PHP</a></li>
                    <li data-filter="all" class="tab col s3"><a class="active" href="#">All</a></li>
                    <li data-filter="vbulletin" class="tab col s3"><a href="#">vbulletin</a></li>
                    <li data-filter="html" class="tab col s3"><a href="#">html</a></li>
                </ul>
            </div>

        </div>


        <div class="grid">
        </div>
    </div>
</div>