<div class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">skillset</h3>

        <div class="programming-skills row">

        </div>
        <div class="row">

            <h5>As well as some experience in:</h5>
            <p class="extra-skills-desc"> MongoDB, NextJS, GraphQL, Material UI, Laravel, C#, ASP.NET, C++, C, Java,
                Android Studio, ...

            </p>
        </div>


    </div>
</div>