<div class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">skillset</h3>

        <div class="programming-skills row">

        </div>
        <div class="row">

            <h5>As well as some experience in:</h5>
            <p class="extra-skills-desc">  NextJS, Material UI, Bootstrap, MongoDB, GraphQL, PHP Codeigniter, C#, ASP.NET, C++, Java,
                Android Studio, ...

            </p>
        </div>


    </div>
</div>
