<div id="Summary" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Summary</h3>
        <p class="main-text">
            Experienced web developer with
            a demonstrated history of working in
            the computer software industry. Skilled
            in web development programming
            languages and Photoshop. Strong
            information technology professional
            with a bachelor's degree focused in
            Information System Engineering from
            Syrian Virtual University
        </p>
    </div>
</div>


