<div id="Summary" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Summary</h3>
        <p class="main-text">
            Experienced web developer with a demonstrated history of working in the computer software industry. Skilled
            in in both front-end and back-end development. I care a lot about the elegance nice design using last modern
            web design trends. I focus on high performance and interested in databases with a great passion. Strong
            information technology professional with a bachelor's degree focused in Information System Engineering
        </p>
    </div>
</div>
