<div id="Work-Experience" class="card z-depth-3">
    <div class="card-content z-depth-0">
        <h3 class="main-titles">Work Experience</h3>

        <ul class="collection no-borders">

            <li class="collection-item avatar">
                <i class="material-icons circle">code</i>
                <span class="title">Freelance web developer</span>
                <p>2009 ~ 2017</p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">computer</i>
                <span class="title">Teaching ICDL courses</span>
                <p>2008</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">brush</i>
                <span class="title">Graphic Designer</span>
                <p>2007 ~ 2009</p>
            </li>
        </ul>

    </div>
</div>