<svg id="crtBgShape1" class="hidden-sm hidden-xs" height="519" width="758">
    <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71"></polygon>
</svg>

<svg id="crtBgShape2" class="hidden-sm hidden-xs" height="536" width="633">
    <polygon points="0,0,633,0,633,536"></polygon>
</svg>


<div class="fixed-action-btn hide" style="top: 45px; right: 24px;">
    <a id="menu" class="btn btn-floating btn-large grey lighten-3">
        <i class="material-icons black-text">menu</i>
    </a>
</div>




<div class="fixed-action-btn" style="bottom: 1em; right: 2em">
    <a id="goToTop" href="#body" class="scrollTo btn-floating btn-large waves-effect waves-light red darken-2 lighten-1">
        <i class="material-icons">arrow_upward</i>
    </a>
</div>