<div class="card z-depth-3">
    <div class="card-panel card-profile-left z-depth-0 my-dark-blue white-text hvr-curl-bottom-left mt-0">
        <img id="personal-photo" class="circle responsive-img" src="images/zuhair_taha.jpg" alt="zuhair taha">
        <div class="center-align">
            <h4 class="h4-name">Zuhair Taha</h4>
            <p>Web Developer</p>

            <div style="font-size:24px">
                <a class="hvr-bounce-in btn-floating btn-flat waves-effect waves-light my-social-btns"
                   href="https://github.com/zuhairtaha/">
                    <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                </a>
                <a class="hvr-bounce-in btn-floating btn-flat waves-effect waves-light my-social-btns"
                   href="https://tahasoft.com/">
                    <i class="fa fa-lg fa-globe" aria-hidden="true"></i>
                </a>
                <a class="hvr-bounce-in btn-floating btn-flat waves-effect waves-light my-social-btns"
                   href="https://www.linkedin.com/in/zuhairtaha/">
                    <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-panel z-depth-0">
        <a class="hvr-grow-shadow btn  red darken-2 waves-effect waves-light btn-block" href="/pdf/zuhair_taha_CV.pdf">Download CV</a>
    </div>
</div>