<!DOCTYPE html>
<!-- saved from url=(0034)https://certy.px-lab.com/attorney/ -->
<html lang="en-US" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:addthis="https://www.addthis.com/help/api-spec"
      class="crt desktop crt-desktop">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="assets/st1.css">
    <script type="text/javascript" src="assets/shares.json"></script>
    <script type="text/javascript" src="assets/saved_resource"></script>
    <script type="text/javascript" src="assets/shares(1).json"></script>
    <script type="text/javascript"
            src="assets/saved_resource(1)"></script>

    <script type="text/javascript" src="assets/1.txt"></script>
    <script type="text/javascript" src="assets/1(1).txt"></script>
    <link rel="stylesheet" type="text/css" href="assets/51310.css"
          media="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certy – Attorney – WordPress Resume, CV Theme</title>
    <link rel="dns-prefetch" href="https://maps.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Certy - Attorney » Feed"
          href="https://certy.px-lab.com/attorney/feed/">
    <link rel="alternate" type="application/rss+xml" title="Certy - Attorney » Comments Feed"
          href="https://certy.px-lab.com/attorney/comments/feed/">
    <script async="" src="assets/analytics.js.download"></script>
    <script type="text/javascript">/*<![CDATA[*/
        window._wpemojiSettings = {
            baseUrl: "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            ext: ".png",
            svgUrl: "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            svgExt: ".svg",
            source: {concatemoji: "https:\/\/certy.px-lab.com\/attorney\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"}
        }
        !function (a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0)
                var d = k.toDataURL()
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0)
                var e = k.toDataURL()
                return d === e
            }

            function e(a) {
                var b
                if (!l || !l.fillText) return !1
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case"flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b)
                    case"emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }

                return !1
            }

            function f(a) {
                var c = b.createElement("script")
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d")
            for (j = Array("flag", "emoji"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]])
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (h = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings)
        /*]]>*/</script>
    <script src="assets/wp-emoji-release.min.js.download"
            type="text/javascript" defer=""></script>
    <link rel="stylesheet" id="Quicksand-css" href="assets/css"
          type="text/css" media="all">
    <link rel="stylesheet" id="Pacifico-css" href="assets/css(1)"
          type="text/css" media="all">
    <script type="text/javascript"
            src="assets/6d3a8.js.download"></script>
    <script type="text/javascript">jQuery(document).ready(function (jQuery) {
            jQuery.datepicker.setDefaults({
                closeText: "Close",
                currentText: "Today",
                monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                nextText: "Next",
                prevText: "Previous",
                dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
                dateFormat: "MM d, yy",
                firstDay: 1,
                isRTL: false
            })
        })</script>
    <script type="text/javascript"
            src="assets/a1751.js.download"></script>
    <link rel="https://api.w.org/" href="https://certy.px-lab.com/attorney/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://certy.px-lab.com/attorney/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://certy.px-lab.com/attorney/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.9.8">
    <link rel="canonical" href="https://certy.px-lab.com/attorney/">
    <link rel="shortlink" href="https://certy.px-lab.com/attorney/">
    <link rel="alternate" type="application/json+oembed"
          href="https://certy.px-lab.com/attorney/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcerty.px-lab.com%2Fattorney%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="https://certy.px-lab.com/attorney/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcerty.px-lab.com%2Fattorney%2F&amp;format=xml">
    <script data-cfasync="false" type="text/javascript">/*<![CDATA[*/
        if (window.addthis_product === undefined) window.addthis_product = "wpp"
        if (window.wp_product_version === undefined) window.wp_product_version = "wpp-6.1.6"
        if (window.wp_blog_version === undefined) window.wp_blog_version = "4.9.8"
        if (window.addthis_share === undefined) window.addthis_share = {}
        if (window.addthis_config === undefined) window.addthis_config = {
            data_track_clickback: true,
            ui_atversion: 300
        }
        if (window.addthis_plugin_info === undefined) window.addthis_plugin_info = {
            info_status: "enabled",
            cms_name: "WordPress",
            plugin_name: "Share Buttons by AddThis",
            plugin_version: "6.1.6",
            plugin_mode: "AddThis",
            anonymous_profile_id: "wp-f3a4563339cac8aca7ce0bf5de7505c6",
            page_info: {template: "home", post_type: ""},
            sharing_enabled_on_post_via_metabox: false
        }
        (function () {
            var first_load_interval_id = setInterval(function () {
                if (typeof window.addthis !== 'undefined') {
                    window.clearInterval(first_load_interval_id)
                    if (typeof window.addthis_layers !== 'undefined' && Object.getOwnPropertyNames(window.addthis_layers).length > 0) window.addthis.layers(window.addthis_layers)
                    if (Array.isArray(window.addthis_layers_tools)) for (i = 0; i < window.addthis_layers_tools.length; i++) window.addthis.layers(window.addthis_layers_tools[i])
                }
            }, 1e3)
        }())
        /*]]>*/</script>
    <script data-cfasync="false" type="text/javascript"
            src="assets/addthis_widget.js.download"
            async="async"></script>
    <link rel="icon"
          href="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/cropped-certy_favicon-3-32x32.png"
          sizes="32x32">
    <link rel="icon"
          href="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/cropped-certy_favicon-3-192x192.png"
          sizes="192x192">
    <link rel="apple-touch-icon-precomposed"
          href="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/cropped-certy_favicon-3-180x180.png">
    <meta name="msapplication-TileImage"
          content="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/cropped-certy_favicon-3-270x270.png">
    <script>(function (i, s, o, g, r, a, m) {
            i.GoogleAnalyticsObject = r
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date()
            a = s.createElement(o), m = s.getElementsByTagName(o)[0]
            a.async = 1
            a.src = g
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga')
        ga('create', 'UA-92973565-4', 'auto')
        ga('send', 'pageview')</script>
    <script src="assets/jquery.mousewheel.min.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/common.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/util.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/map.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/marker.js.download"></script>
    <script type="text/javascript" charset="utf-8" async=""
            src="assets/layers.474c8099ebedd5a8d64a.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/onion.js.download"></script>
    <script type="text/javascript" charset="UTF-8"
            src="assets/stats.js.download"></script>
</head>
<body class="home page-template-default page page-id-98 wp-custom-logo crt crt-layers-2 crt-nav-on crt-nav-type2 crt-main-nav-on crt-side-box-on crt-sidebar-on"
      data-color="#223D72" cz-shortcut-listen="true">
<div class="crt-wrapper">
    <header id="crtHeader" class="crt-logo-out">
        <div class="crt-head-inner crt-container">
            <div class="crt-container-sm">
                <div class="crt-head-row">
                    <div id="crtHeadCol1" class="crt-head-col text-left"><a id="crtLogo" class="crt-logo"
                                                                            href="https://certy.px-lab.com/attorney/">
                            <img src="assets/certy_logo.svg"
                                 alt="Certy – Attorney"> <span>.Attorney</span> </a></div>
                    <div id="crtHeadCol2" class="crt-head-col text-center">
                        <div class="crt-nav-container crt-container hidden-sm hidden-xs">
                            <nav id="crtMainNav">
                                <ul class="clear-list">
                                    <li id="menu-item-37"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-98 current_page_item menu-item-37">
                                        <a href="https://certy.px-lab.com/attorney/">home</a></li>
                                    <li id="menu-item-65"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a
                                                href="https://certy.px-lab.com/attorney/blog/">blog</a></li>
                                    <li id="menu-item-66"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a
                                                href="https://certy.px-lab.com/attorney/calendar/">calendar</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="crtHeadCol3" class="crt-head-col text-right">
                        <button id="crtSidebarBtn" class="btn btn-icon btn-shade"><span
                                    class="crt-icon crt-icon-side-bar-icon"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <nav id="crtNavSm" class="crt-nav hidden-lg hidden-md">
            <div class="crt-avatar"><a href="https://certy.px-lab.com/attorney/#about" data-tooltip="Home"> <img alt=""
                                                                                                                 src="assets/Certy_Attorney_1-1-42x42.jpg"
                                                                                                                 srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_1-1-84x84.jpg 2x"
                                                                                                                 class="avatar avatar-42">
                </a></div>
            <ul class="clear-list">
                <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a
                            href="https://certy.px-lab.com/attorney/#achievements" data-tooltip="Achievements"><span
                                class="crt-icon crt-icon-awards"></span></a></li>
                <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52"><a
                            href="https://certy.px-lab.com/attorney/#stats" data-tooltip="Statistics"><span
                                class="crt-icon crt-icon-about"></span></a></li>
                <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a
                            href="https://certy.px-lab.com/attorney/#cases" data-tooltip="Cases"><span
                                class="crt-icon crt-icon-experience"></span></a></li>
                <li id="menu-item-54" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54"><a
                            href="https://certy.px-lab.com/attorney/#contact" data-tooltip="Contact"><span
                                class="crt-icon crt-icon-contact"></span></a></li>
            </ul>
        </nav>
    </header>
    <div id="crtContainer" class="crt-container">
        <div id="crtSideBoxWrap">
            <div id="crtSideBox" class="clear-mrg">
                <div class="crt-side-box-1 clear-mrg">
                    <aside class="widget clearfix certy_widget_card">
                        <div class="crt-card bg-primary text-center">
                            <div class="crt-card-avatar"><span class="crt-avatar-state"> <span
                                            class="crt-avatar-state1"> <img class="avatar avatar-195" alt=""
                                                                            src="assets/Certy_Attorney_1-195x195.jpg"
                                                                            srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_1.jpg 2x"> </span> <span
                                            class="crt-avatar-state2"> <img class="avatar avatar-195" alt=""
                                                                            src="assets/Certy_Attorney_2-195x195.jpg"
                                                                            srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_2.jpg 2x"> </span> </span>
                            </div>
                            <div class="crt-card-info clear-mrg"><h2 class="text-upper">Morris Schultz</h2>
                                <p class="text-muted">Attorney</p>
                                <ul class="crt-social clear-list">
                                    <li><a target="_blank" href="https://www.facebook.com/pxlaboratory/"><span
                                                    class="crt-icon crt-icon-facebook"></span></a></li>
                                    <li><a target="_blank" href="https://twitter.com/_pxlab"><span
                                                    class="crt-icon crt-icon-twitter"></span></a></li>
                                    <li><a target="_blank" href="https://www.behance.net/pxlab"><span
                                                    class="crt-icon crt-icon-behance"></span></a></li>
                                    <li><a target="_blank" href="https://dribbble.com/Px-Lab"><span
                                                    class="crt-icon crt-icon-dribbble"></span></a></li>
                                    <li><a target="_blank"
                                           href="https://www.youtube.com/channel/UCzyxW0-fgJGrWNWz-WceMGg"><span
                                                    class="crt-icon crt-icon-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget clearfix widget_text">
                        <div class="textwidget"><p></p>
                            <center><a class="btn btn-lg btn-default" target="_blank"
                                       href="https://themeforest.net/item/certy-wordpress-resume-cv-theme/19915727?ref=PX-lab">DOWNLOAD
                                    CV</a></center>
                            <p></p></div>
                    </aside>
                </div>
                <div class="crt-side-box-2 clear-mrg">
                    <aside class="widget clearfix widget_posts_entries"><h2 class="widget-title">Recent Post</h2>
                        <ul>
                            <li><a class="post-image"
                                   href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-developer-api-key/">
                                    <img width="80" height="60"
                                         src="assets/Certy_by_Px-Lab-80x60.jpg"
                                         class="attachment-certy-thumbnail-widget size-certy-thumbnail-widget wp-post-image"
                                         alt="Certy_by_Px-Lab"
                                         srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_by_Px-Lab-80x60.jpg 80w, https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_by_Px-Lab-123x92.jpg 123w"
                                         sizes="(max-width: 80px) 100vw, 80px"> </a>
                                <div class="post-content"><h3><a
                                                href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-developer-api-key/">How
                                            to Create Google Font Developer API Key</a></h3></div>
                                <div class="post-category-comment"><a
                                            href="https://certy.px-lab.com/attorney/category/category-2/"
                                            class="post-category">Category 2</a> <a
                                            href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-developer-api-key/#respond"
                                            class="post-comments">0 comments</a></div>
                            </li>
                            <li><a class="post-image"
                                   href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-api-key/">
                                    <img width="80" height="60"
                                         src="assets/Certy_by_Px-Lab-80x60.jpg"
                                         class="attachment-certy-thumbnail-widget size-certy-thumbnail-widget wp-post-image"
                                         alt="Certy_by_Px-Lab"
                                         srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_by_Px-Lab-80x60.jpg 80w, https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_by_Px-Lab-123x92.jpg 123w"
                                         sizes="(max-width: 80px) 100vw, 80px"> </a>
                                <div class="post-content"><h3><a
                                                href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-api-key/">How
                                            to Create Google Maps Developer API Key</a></h3></div>
                                <div class="post-category-comment"><a
                                            href="https://certy.px-lab.com/attorney/category/category-2/"
                                            class="post-category">Category 2</a> <a
                                            href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-api-key/#respond"
                                            class="post-comments">0 comments</a></div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix certy_widget_instagram"><h2 class="widget-title">From Instagram</h2>
                        <ul class="instagram-pics">
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/b89af3cdf4ffdb40c95f7c6175bd43f8/5C540048/t51.2885-15/e35/13658644_636961293125525_19678889_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm8xTgpi3/"></a></li>
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/bc57ad42283a47eb6cf8cd93edcf9cc9/5C4622B0/t51.2885-15/e35/13649117_1768269680058666_216179586_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm7tNAD3x/"></a></li>
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/8add40d6d31046010bd18e8ed9ccb303/5C5F374F/t51.2885-15/e35/13597541_1737276826561456_554121326_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm696Aj-z/"></a></li>
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/807cf825dddb5a0eff91786c26eb137b/5C4B6B89/t51.2885-15/e35/13671789_1734012260143786_1706733133_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm6UNgT3z/"></a></li>
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/e79fd0efb80e40db052ca679a8b40ca9/5C6079DE/t51.2885-15/e35/13658681_109878169448929_189752974_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm4DFAJip/"></a></li>
                            <li>
                                <a style="background-image: url(&#39;https://scontent.cdninstagram.com/vp/0f840b98f7ee83fc56d6796f28c255b7/5C3DA931/t51.2885-15/e35/13658508_608646019313400_661690657_n.jpg&#39;)"
                                   target="blank" href="https://www.instagram.com/p/BHwm3MqA5fb/"></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <div id="crtNavWrap" class="hidden-sm hidden-xs">
            <div id="crtNavInner" class="crt-sticky"
                 style="top: 0px; left: auto; width: auto; bottom: auto; position: relative;">
                <div class="crt-nav-cont">
                    <div id="crtNavScroll">
                        <nav id="crtNav" class="crt-nav">
                            <div class="crt-nav-img current"><a href="https://certy.px-lab.com/attorney/#about"
                                                                data-tooltip="Home"> <img alt=""
                                                                                          src="assets/Certy_Attorney_1-1-42x42.jpg"
                                                                                          srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_1-1-84x84.jpg 2x"
                                                                                          class="avatar avatar-42"> </a>
                            </div>
                            <ul class="clear-list">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a
                                            href="https://certy.px-lab.com/attorney/#achievements"
                                            data-tooltip="Achievements"><span
                                                class="crt-icon crt-icon-awards"></span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52"><a
                                            href="https://certy.px-lab.com/attorney/#stats"
                                            data-tooltip="Statistics"><span class="crt-icon crt-icon-about"></span></a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a
                                            href="https://certy.px-lab.com/attorney/#cases" data-tooltip="Cases"><span
                                                class="crt-icon crt-icon-experience"></span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54"><a
                                            href="https://certy.px-lab.com/attorney/#contact"
                                            data-tooltip="Contact"><span class="crt-icon crt-icon-contact"></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="crtNavTools" class="hidden"><span class="crt-icon crt-icon-dots-three-horizontal"></span>
                        <button id="crtNavArrow" class="clear-btn"><span
                                    class="crt-icon crt-icon-chevron-thin-down"></span></button>
                    </div>
                </div>
                <div class="crt-nav-btm"></div>
            </div>
        </div>
        <div class="crt-container-sm">
            <div class="crt-paper-layers crt-animated">
                <div class="crt-paper clear-mrg clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section id="about" class="section padd-box brd-btm">
                            <div class="row">
                                <div class="col-sm-12 clear-mrg text-box"><h2 class="title-lg text-upper">About Me</h2>
                                    <p>Morris Schultz, Attorney with 10+ years experience in legal consultancy. He has
                                        spent significant time on his feet in court arguing and trying cases. During his
                                        practice at “SomeLawFirm and Partners” Morris defended one of the top
                                        corporations in the world and government agencies in premises liability, product
                                        liability and employment discrimination matters.<br></p>
                                    <div class="row">
                                        <div class="col-sm-6"><p></p>
                                            <p>&nbsp;</p>
                                            <p></p>
                                            <div class="share-box text-left clearfix">
                                                <button class="share-btn btn btn-bordered btn-upper"><span
                                                            class="crt-icon crt-icon-share"></span>Share
                                                </button>
                                                <div class="addthis_inline_share_toolbox"
                                                     data-url="https://certy.px-lab.com/attorney/"
                                                     data-title="Certy – Attorney – WordPress Resume, CV Theme"
                                                     style="clear: both;">
                                                    <div id="atstbx"
                                                         class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
                                                         aria-labelledby="at-ed926b00-309a-4c49-8dfa-e2a2a160c4f1"
                                                         role="region"><span
                                                                id="at-ed926b00-309a-4c49-8dfa-e2a2a160c4f1"
                                                                class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                                        <div class="at-share-btn-elements"><a role="button" tabindex="1"
                                                                                              class="at-icon-wrapper at-share-btn at-svc-facebook"
                                                                                              style="background-color: rgb(59, 89, 152); border-radius: 26px;"><span
                                                                        class="at4-visually-hidden">Share to Facebook</span><span
                                                                        class="at-icon-wrapper"
                                                                        style="line-height: 32px; height: 32px; width: 32px;"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            viewBox="0 0 32 32" version="1.1" role="img"
                                                                            aria-labelledby="at-svg-facebook-1"
                                                                            class="at-icon at-icon-facebook"
                                                                            style="fill: rgb(255, 255, 255); width: 32px; height: 32px;"><title
                                                                                id="at-svg-facebook-1">Facebook</title><g><path
                                                                                    d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                                                                    fill-rule="evenodd"></path></g></svg></span></a><a
                                                                    role="button" tabindex="1"
                                                                    class="at-icon-wrapper at-share-btn at-svc-twitter"
                                                                    style="background-color: rgb(29, 161, 242); border-radius: 26px;"><span
                                                                        class="at4-visually-hidden">Share to Twitter</span><span
                                                                        class="at-icon-wrapper"
                                                                        style="line-height: 32px; height: 32px; width: 32px;"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            viewBox="0 0 32 32" version="1.1" role="img"
                                                                            aria-labelledby="at-svg-twitter-2"
                                                                            class="at-icon at-icon-twitter"
                                                                            style="fill: rgb(255, 255, 255); width: 32px; height: 32px;"><title
                                                                                id="at-svg-twitter-2">Twitter</title><g><path
                                                                                    d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                                                                    fill-rule="evenodd"></path></g></svg></span></a><a
                                                                    role="button" tabindex="1"
                                                                    class="at-icon-wrapper at-share-btn at-svc-compact"
                                                                    style="background-color: rgb(255, 101, 80); border-radius: 26px;"><span
                                                                        class="at4-visually-hidden">Share to More</span><span
                                                                        class="at-icon-wrapper"
                                                                        style="line-height: 32px; height: 32px; width: 32px;"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            viewBox="0 0 32 32" version="1.1" role="img"
                                                                            aria-labelledby="at-svg-addthis-3"
                                                                            class="at-icon at-icon-addthis"
                                                                            style="fill: rgb(255, 255, 255); width: 32px; height: 32px;"><title
                                                                                id="at-svg-addthis-3">Addthis</title><g><path
                                                                                    d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z"
                                                                                    fill-rule="evenodd"></path></g></svg></span><span
                                                                        class="at4-share-count-container"
                                                                        style="font-size: 11.4px; line-height: 32px; color: rgb(255, 255, 255);">35</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br></div>
                                        <div class="col-sm-6"><br> <img class="size-medium wp-image-77 alignright"
                                                                        src="assets/signature.svg"
                                                                        alt="certy_signature" width="100"
                                                                        height="100"><br></div>
                                    </div>
                                    <p></p></div>
                            </div>
                        </section>
                        <section id="personal" class="section padd-box">
                            <div class="row">
                                <div class="col-sm-6 clear-mrg"><h3 class="title-thin text-muted">Personal
                                        information</h3>
                                    <dl class="dl-horizontal clear-mrg">
                                        <dt class="text-upper">Full Name</dt>
                                        <dd>Morris Schultz</dd>
                                        <dt class="text-upper">D.o.b.</dt>
                                        <dd>05 Sep 1986</dd>
                                        <dt class="text-upper">address</dt>
                                        <dd>24058, Belgium, Brussels, Liutte 27, BE</dd>
                                        <dt class="text-upper">e-mail</dt>
                                        <dd>MorrisSchultz@company.com</dd>
                                        <dt class="text-upper">phone</dt>
                                        <dd>+1 256 254 84 56</dd>
                                        <dt class="text-upper">freelance</dt>
                                        <dd>Available</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6 clear-mrg"><h3 class="title-thin text-muted">Specialization</h3>
                                    <div class="progress-line crt-animated" role="progressbar" aria-valuenow="90"
                                         aria-valuemin="0" aria-valuemax="100"><strong class="progress-title">Intellectual
                                            Property</strong>
                                        <div class="progress-bar" data-text="90%" data-value="0.9"
                                             style="position: relative;">
                                            <svg viewBox="0 0 100 4" preserveAspectRatio="none"
                                                 style="width: 100%; height: 100%;">
                                                <path d="M 0,2 L 100,2" stroke="rgba(0,0,0,0.07)" stroke-width="4"
                                                      fill-opacity="0"></path>
                                                <path d="M 0,2 L 100,2" stroke="#223D72" stroke-width="4"
                                                      fill-opacity="0"
                                                      style="stroke-dasharray: 100, 100; stroke-dashoffset: 10;"></path>
                                            </svg>
                                            <div class="progress-text"
                                                 style="top: -25px; right: 0px; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(0px, 0px);">
                                                90%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-line crt-animated" role="progressbar" aria-valuenow="95"
                                         aria-valuemin="0" aria-valuemax="100"><strong class="progress-title">Dispute
                                            Resolution/ADR</strong>
                                        <div class="progress-bar" data-text="95%" data-value="0.95"
                                             style="position: relative;">
                                            <svg viewBox="0 0 100 4" preserveAspectRatio="none"
                                                 style="width: 100%; height: 100%;">
                                                <path d="M 0,2 L 100,2" stroke="rgba(0,0,0,0.07)" stroke-width="4"
                                                      fill-opacity="0"></path>
                                                <path d="M 0,2 L 100,2" stroke="#223D72" stroke-width="4"
                                                      fill-opacity="0"
                                                      style="stroke-dasharray: 100, 100; stroke-dashoffset: 5;"></path>
                                            </svg>
                                            <div class="progress-text"
                                                 style="top: -25px; right: 0px; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(0px, 0px);">
                                                95%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-line crt-animated" role="progressbar" aria-valuenow="94"
                                         aria-valuemin="0" aria-valuemax="100"><strong class="progress-title">Tax
                                            consulting/tax litigation</strong>
                                        <div class="progress-bar" data-text="94%" data-value="0.94"
                                             style="position: relative;">
                                            <svg viewBox="0 0 100 4" preserveAspectRatio="none"
                                                 style="width: 100%; height: 100%;">
                                                <path d="M 0,2 L 100,2" stroke="rgba(0,0,0,0.07)" stroke-width="4"
                                                      fill-opacity="0"></path>
                                                <path d="M 0,2 L 100,2" stroke="#223D72" stroke-width="4"
                                                      fill-opacity="0"
                                                      style="stroke-dasharray: 100, 100; stroke-dashoffset: 6;"></path>
                                            </svg>
                                            <div class="progress-text"
                                                 style="top: -25px; right: 0px; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(0px, 0px);">
                                                94%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-line crt-animated" role="progressbar" aria-valuenow="98"
                                         aria-valuemin="0" aria-valuemax="100"><strong class="progress-title">Labor and
                                            Employment</strong>
                                        <div class="progress-bar" data-text="98%" data-value="0.98"
                                             style="position: relative;">
                                            <svg viewBox="0 0 100 4" preserveAspectRatio="none"
                                                 style="width: 100%; height: 100%;">
                                                <path d="M 0,2 L 100,2" stroke="rgba(0,0,0,0.07)" stroke-width="4"
                                                      fill-opacity="0"></path>
                                                <path d="M 0,2 L 100,2" stroke="#223D72" stroke-width="4"
                                                      fill-opacity="0"
                                                      style="stroke-dasharray: 100, 100; stroke-dashoffset: 2;"></path>
                                            </svg>
                                            <div class="progress-text"
                                                 style="top: -25px; right: 0px; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(0px, 0px);">
                                                98%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="crt-paper-layers crt-animated">
                <div class="crt-paper clear-mrg clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section id="cases" class="section padd-box"><h2 class="title-lg text-upper">Valuable Cases</h2>
                            <div class="education">
                                <div class="education-box"><span class="education-date"> <span>2010-2012</span> </span>
                                    <h3><a target="_blank" href="https://themeforest.net/user/px-lab?ref=PX-lab"> Bebsi
                                            v. Goga Gola </a></h3> <a target="_blank"
                                                                      href="https://themeforest.net/user/px-lab?ref=PX-lab">
                                        <span class="education-company">Formula for Goga Gola</span> </a>
                                    <div class="at-above-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/bebsi-v-goga-gola/"></div>
                                    <p>Goga Gola was invented amazing formula for headache which was properly
                                        copyrighted and kept in secret. Bebsi’s management argued that formula was
                                        invented by Bebsi’s scientists.</p>
                                    <div class="at-below-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/bebsi-v-goga-gola/"></div>
                                </div>
                                <div class="education-box"><span class="education-date"> <span>2009-2010</span> </span>
                                    <h3><a target="_blank" href="https://themeforest.net/user/px-lab?ref=PX-lab"> Abble
                                            v. Sansung </a></h3> <a target="_blank"
                                                                    href="https://themeforest.net/user/px-lab?ref=PX-lab">
                                        <span class="education-company">Patent claim</span> </a>
                                    <div class="at-above-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/abble-vs-sansung/"></div>
                                    <p>World leading conglomerates producing oil and heavy metals decided go for peacful
                                        decision for their many year dispute.</p>
                                    <div class="at-below-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/abble-vs-sansung/"></div>
                                </div>
                                <div class="education-box"><span class="education-date"> <span>2007-2009</span> </span>
                                    <h3><a target="_blank" href="https://themeforest.net/user/px-lab?ref=PX-lab"> Joojle
                                            v. Amazom </a></h3> <a target="_blank"
                                                                   href="https://themeforest.net/user/px-lab?ref=PX-lab">
                                        <span class="education-company">API are not copyrightable</span> </a>
                                    <div class="at-above-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/joojle-v-amazom/"></div>
                                    <p>This case was in review in court for 2 years and finally sides became to
                                        resolution to built future together.</p>
                                    <div class="at-below-post-homepage addthis_tool"
                                         data-url="https://certy.px-lab.com/attorney/certy_timeline/joojle-v-amazom/"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="crt-paper-layers crt-animated">
                <div class="crt-paper clear-mrg clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section id="achievements" class="section clear-mrg padd-box brd-btm"><h3
                                    class="title-thin text-muted">Achievements</h3>
                            <div class="padd-box-sm">
                                <ul class="clients clear-list">
                                    <li><a target="_blank"
                                           href="https://themeforest.net/user/px-lab/portfolio?ref=PX-lab"> <img
                                                    width="107" height="111"
                                                    src="assets/Certy_Logo-3.png"
                                                    class=" wp-post-image" alt="Certy_Logo (3)"> </a></li>
                                    <li><a target="_blank"
                                           href="https://themeforest.net/user/px-lab/portfolio?ref=PX-lab"> <img
                                                    width="107" height="111"
                                                    src="assets/Certy_Logo-1.png"
                                                    class=" wp-post-image" alt="Certy_Logo (1)"> </a></li>
                                    <li><a target="_blank"
                                           href="https://themeforest.net/user/px-lab/portfolio?ref=PX-lab"> <img
                                                    width="107" height="111"
                                                    src="assets/Certy_Logo-6.png"
                                                    class=" wp-post-image" alt="Certy_Logo (6)"> </a></li>
                                </ul>
                            </div>
                        </section>
                        <section id="stats" class="section padd-box">
                            <div class="row">
                                <div class="col-sm-6 clear-mrg"><h3 class="title-thin text-muted">Some Statistics</h3>
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <div class="progress-chart crt-animated" role="progressbar"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" data-text="100%" data-value="1"
                                                     style="position: relative;">
                                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95"
                                                              stroke="#223D72" stroke-width="5" fill-opacity="0"
                                                              style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 0;"></path>
                                                    </svg>
                                                    <div class="progress-text"
                                                         style="top: 50%; left: 50%; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(-50%, -50%);">
                                                        100%
                                                    </div>
                                                </div>
                                                <strong class="progress-title">Winning Cases</strong></div>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <div class="progress-chart crt-animated" role="progressbar"
                                                 aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" data-text="56%" data-value="0.56"
                                                     style="position: relative;">
                                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95"
                                                              stroke="#223D72" stroke-width="5" fill-opacity="0"
                                                              style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 131.337;"></path>
                                                    </svg>
                                                    <div class="progress-text"
                                                         style="top: 50%; left: 50%; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(-50%, -50%);">
                                                        56%
                                                    </div>
                                                </div>
                                                <strong class="progress-title">Fortune 500 companies</strong></div>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <div class="progress-chart crt-animated" role="progressbar"
                                                 aria-valuenow="42" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" data-text="42%" data-value="0.42"
                                                     style="position: relative;">
                                                    <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95"
                                                              stroke="#223D72" stroke-width="5" fill-opacity="0"
                                                              style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 173.126;"></path>
                                                    </svg>
                                                    <div class="progress-text"
                                                         style="top: 50%; left: 50%; color: inherit; position: absolute; margin: 0px; padding: 0px; transform: translate(-50%, -50%);">
                                                        42%
                                                    </div>
                                                </div>
                                                <strong class="progress-title">S&amp;P 500 companies</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 clear-mrg"><h3 class="title-thin text-muted">Languages</h3>
                                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="95"
                                         aria-valuemin="0" aria-valuemax="10"><strong
                                                class="progress-title">English</strong> <span
                                                class="progress-bar"> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet"></span> </span> <span
                                                class="progress-text text-muted">native</span></div>
                                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="91"
                                         aria-valuemin="0" aria-valuemax="10"><strong
                                                class="progress-title">Spanish</strong> <span
                                                class="progress-bar"> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet"></span> </span> <span
                                                class="progress-text text-muted">fluent</span></div>
                                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="93"
                                         aria-valuemin="0" aria-valuemax="10"><strong
                                                class="progress-title">Italian</strong> <span
                                                class="progress-bar"> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet fill"></span> <span class="bullet fill"></span> <span
                                                    class="bullet"></span> </span> <span
                                                class="progress-text text-muted">fluent</span></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="crt-paper-layers crt-animated">
                <div class="crt-paper clear-mrg clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section id="interests" class="section brd-btm  padd-box">
                            <div class="row">
                                <div class="col-sm-12 clear-mrg"><h2 class="title-lg text-upper">Interests</h2>
                                    <ul class="crt-icon-list crt-icon-list-col3 clearfix">
                                        <li><span class="crt-icon crt-icon crt-icon-game"></span> Video games</li>
                                        <li><span class="crt-icon crt-icon crt-icon-bank"></span> Finance</li>
                                        <li><span class="crt-icon crt-icon crt-icon-tree"></span> Environement</li>
                                        <li><span class="crt-icon crt-icon crt-icon-basketball"></span> Basketball</li>
                                        <li><span class="crt-icon crt-icon crt-icon-hunting"></span> Hunting</li>
                                        <li><span class="crt-icon crt-icon crt-icon-theatre"></span> Theatre</li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section id="contact" class="section padd-box">
                            <div class="padd-box-sm">
                                <header class="contact-head">
                                    <ul class="crt-social clear-list">
                                        <li><a target="_blank" href="https://www.facebook.com/pxlaboratory/"><span
                                                        class="crt-icon crt-icon-facebook"></span></a></li>
                                        <li><a target="_blank" href="https://twitter.com/_pxlab"><span
                                                        class="crt-icon crt-icon-twitter"></span></a></li>
                                        <li><a target="_blank" href="https://www.behance.net/pxlab"><span
                                                        class="crt-icon crt-icon-behance"></span></a></li>
                                        <li><a target="_blank" href="https://dribbble.com/Px-Lab"><span
                                                        class="crt-icon crt-icon-dribbble"></span></a></li>
                                        <li><a target="_blank"
                                               href="https://www.youtube.com/channel/UCzyxW0-fgJGrWNWz-WceMGg"><span
                                                        class="crt-icon crt-icon-youtube"></span></a></li>
                                    </ul>
                                    <h3 class="title text-upper">Feel free to contact me</h3></header>
                                <div role="form" class="wpcf7" id="wpcf7-f33-p98-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="https://certy.px-lab.com/attorney/#wpcf7-f33-p98-o1" method="post"
                                          class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;"><input type="hidden" name="_wpcf7" value="33">
                                            <input type="hidden" name="_wpcf7_version" value="5.0.3"> <input
                                                    type="hidden" name="_wpcf7_locale" value="en_US"> <input
                                                    type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f33-p98-o1">
                                            <input type="hidden" name="_wpcf7_container_post" value="98"></div>
                                        <p><label> Your Name (required)<br> <span
                                                        class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                                         name="your-name"
                                                                                                         value=""
                                                                                                         size="40"
                                                                                                         class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                         aria-required="true"
                                                                                                         aria-invalid="false"></span>
                                            </label></p>
                                        <p><label> Your Email (required)<br> <span
                                                        class="wpcf7-form-control-wrap your-email"><input type="email"
                                                                                                          name="your-email"
                                                                                                          value=""
                                                                                                          size="40"
                                                                                                          class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                          aria-required="true"
                                                                                                          aria-invalid="false"></span>
                                            </label></p>
                                        <p><label> Subject<br> <span class="wpcf7-form-control-wrap your-subject"><input
                                                            type="text" name="your-subject" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                                            </label></p>
                                        <p><label> Your Message<br> <span
                                                        class="wpcf7-form-control-wrap your-message"><textarea
                                                            name="your-message" cols="40" rows="10"
                                                            class="wpcf7-form-control wpcf7-textarea"
                                                            aria-invalid="false"></textarea></span> </label></p>
                                        <p><input type="submit" value="Send"
                                                  class="wpcf7-form-control wpcf7-submit"><span
                                                    class="ajax-loader"></span></p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                            <div id="map" data-latitude="40.177820" data-longitude="44.512844"
                                 style="position: relative; overflow: hidden;">
                                <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                    <div class="gm-err-container">
                                        <div class="gm-err-content">
                                            <div class="gm-err-icon"><img
                                                        src="assets/icon_error.png"
                                                        draggable="false" style="user-select: none;"></div>
                                            <div class="gm-err-title">Oops! Something went wrong.</div>
                                            <div class="gm-err-message">This page didn't load Google Maps correctly. See
                                                the JavaScript console for technical details.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="crtSidebar">
        <button id="crtSidebarClose" class="btn btn-icon btn-light btn-shade"><span
                    class="crt-icon crt-icon-close"></span></button>
        <div id="crtSidebarInner" class="mCustomScrollbar _mCS_1 mCS-autoHide"
             style="position: relative; overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside"
                 style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                    <nav id="crtMainNavSm" class="hidden-lg hidden-md text-center">
                        <ul class="clear-list">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-98 current_page_item menu-item-37">
                                <a href="https://certy.px-lab.com/attorney/">home</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a
                                        href="https://certy.px-lab.com/attorney/blog/">blog</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a
                                        href="https://certy.px-lab.com/attorney/calendar/">calendar</a></li>
                        </ul>
                    </nav>
                    <aside class="widget-area clear-mrg">
                        <section class="widget clearfix certy_widget_card">
                            <div class="crt-card bg-primary text-center">
                                <div class="crt-card-avatar"><span class="crt-avatar-state"> <span
                                                class="crt-avatar-state1"> <img class="avatar avatar-195 mCS_img_loaded"
                                                                                alt=""
                                                                                src="assets/Certy_Attorney_2-195x195.jpg"
                                                                                srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_2.jpg 2x"> </span> <span
                                                class="crt-avatar-state2"> <img class="avatar avatar-195 mCS_img_loaded"
                                                                                alt=""
                                                                                src="assets/Certy_Attorney_1-195x195.jpg"
                                                                                srcset="https://certy.px-lab.com/attorney/wp-content/uploads/sites/5/2017/06/Certy_Attorney_1.jpg 2x"> </span> </span>
                                </div>
                                <div class="crt-card-info clear-mrg"><h2 class="text-upper">Morris Schultz</h2>
                                    <p class="text-muted">Attorney</p>
                                    <ul class="crt-social clear-list">
                                        <li><a target="_blank" href="https://www.facebook.com/pxlaboratory/"><span
                                                        class="crt-icon crt-icon-facebook"></span></a></li>
                                        <li><a target="_blank" href="https://twitter.com/_pxlab"><span
                                                        class="crt-icon crt-icon-twitter"></span></a></li>
                                        <li><a target="_blank" href="https://www.behance.net/pxlab"><span
                                                        class="crt-icon crt-icon-behance"></span></a></li>
                                        <li><a target="_blank" href="https://dribbble.com/Px-Lab"><span
                                                        class="crt-icon crt-icon-dribbble"></span></a></li>
                                        <li><a target="_blank"
                                               href="https://www.youtube.com/channel/UCzyxW0-fgJGrWNWz-WceMGg"><span
                                                        class="crt-icon crt-icon-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="widget clearfix widget_recent_entries"><h2 class="widget-title">Recent
                                Posts</h2>
                            <ul>
                                <li>
                                    <a href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-developer-api-key/">How
                                        to Create Google Font Developer API Key</a></li>
                                <li>
                                    <a href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-google-font-api-key/">How
                                        to Create Google Maps Developer API Key</a></li>
                                <li>
                                    <a href="https://certy.px-lab.com/attorney/2017/06/20/how-to-create-online-cv-and-resume/">How
                                        to Create Online CV and Resume</a></li>
                            </ul>
                        </section>
                        <section class="widget clearfix widget_search">
                            <form role="search" method="get" class="search-again"
                                  action="https://certy.px-lab.com/attorney/">
                                <div class="form-item-wrap"><input type="search" id="search-form-5bb79cb2e1c4b"
                                                                   class="form-item" placeholder="Search" value=""
                                                                   name="s"></div>
                                <div class="form-submit form-item-wrap"><input type="submit" id="submit"
                                                                               class="btn btn-primary"
                                                                               value="Try Again"></div>
                            </form>
                        </section>
                    </aside>
                </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical"
                 class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
                 style="display: block;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                         style="position: absolute; min-height: 50px; height: 200px; top: 0px; display: block; max-height: 366px;">
                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>
        </div>
    </div>
    <footer id="crtFooter" class="crt-container-lg">
        <div class="crt-container"></div>
    </footer>
    <button id="crtBtnUp" class="btn btn-icon btn-primary" style="display: none;"><span
                class="crt-icon crt-icon-arrow-page-up"></span></button>
    <svg id="crtBgShape1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71"></polygon>
    </svg>
    <svg id="crtBgShape2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536"></polygon>
    </svg>
</div>
<div class="nb-switcher nb-switcher-left" style="height: 296px;"><a class="nb-switcher-toggle" title="Demo switcher">
        <svg class="nb-switcher-icon" width="25px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 76.68 65.82"><title>switcher</title>
            <path d="M83.95,70.92H16a4,4,0,1,0,0,7.94h67.9a4.17,4.17,0,0,0,4.39-4C88.44,72.72,86.44,70.92,83.95,70.92Z"
                  transform="translate(-11.66 -18.9)"></path>
            <path d="M83.95,47.58H16a4,4,0,1,0,0,7.94h67.9a4.17,4.17,0,0,0,4.39-4C88.44,49.38,86.44,47.58,83.95,47.58Z"
                  transform="translate(-11.66 -18.9)"></path>
            <path d="M83.95,24.23H16a4.17,4.17,0,0,0-4.39,4,4.17,4.17,0,0,0,4.39,4h67.9a4.17,4.17,0,0,0,4.39-4C88.44,26,86.44,24.23,83.95,24.23Z"
                  transform="translate(-11.66 -18.9)"></path>
            <rect x="12.45" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
            <rect x="52.98" y="23.15" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
            <rect x="32.71" y="47.21" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
        </svg>
    </a>
    <div class="nb-switcher-content">
        <div class="nb-switcher-header"><h2 class="nb-switcher-title">Choose Demo</h2></div>
        <ul class="nb-switcher-items">
            <li><a href="https://certy.px-lab.com/designer" class="nb-switcher-demo1"> <span>Designer </span> </a></li>
            <li><a href="https://certy.px-lab.com/florist" class="nb-switcher-demo2"> <span>Florist </span> </a></li>
            <li><a href="https://certy.px-lab.com/architect" class="nb-switcher-demo3"> <span>Architect </span> </a>
            </li>
            <li class="current"><a href="https://certy.px-lab.com/attorney" class="nb-switcher-demo4">
                    <span>Attorney </span> </a></li>
            <li><a href="https://certy.px-lab.com/developer" class="nb-switcher-demo5"> <span>Developer </span> </a>
            </li>
            <li><a href="https://certy.px-lab.com/dj" class="nb-switcher-demo6"> <span>Dj </span> </a></li>
            <li><a href="https://certy.px-lab.com/teacher" class="nb-switcher-demo7"> <span>Teacher </span> </a></li>
            <li><a href="https://certy.px-lab.com/doctor" class="nb-switcher-demo8"> <span>Doctor </span> </a></li>
        </ul>
        <div class="nb-switcher-text"></div>
        <div class="nb-switcher-btn-wrap"><a target="_blank"
                                             href="https://themeforest.net/item/certy-wordpress-resume-cv-theme/19915727?ref=PX-lab"
                                             class="nb-switcher-btn">Buy now</a></div>
    </div>
</div>
<div id="_atssh"
     style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;">
    <iframe id="_atssh918" title="AddThis utility frame"
            style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px; left: 0px;"
            src="assets/sh.e4e8af4de595fdb10ec1459d.html"></iframe>
</div>
<style id="service-icons-0"></style>
<script type="text/javascript" src="assets/ad415.js.download"></script>
<script type="text/javascript">var wpcf7 = {
        apiSettings: {
            root: "https:\/\/certy.px-lab.com\/attorney\/wp-json\/contact-form-7\/v1",
            namespace: "contact-form-7\/v1"
        }, recaptcha: {messages: {empty: "Please verify that you are not a robot."}}, cached: "1"
    }</script>
<script type="text/javascript" src="assets/850f3.js.download"></script>
<script type="text/javascript" src="assets/js"></script>
<script type="text/javascript" src="assets/9793f.js.download"></script>
<script type="text/javascript">var certy_vars_from_WP = {
        themeColor: "#223D72",
        mapStyles: "[{\"featureType\":\"landscape\",\"stylers\":[{\"hue\":\"#FFE100\"},{\"saturation\":34.48275862068968},{\"lightness\":-1.490196078431353},{\"gamma\":1}]},{\"featureType\":\"road.highway\",\"stylers\":[{\"hue\":\"#FF009A\"},{\"saturation\":-2.970297029703005},{\"lightness\":-17.815686274509815},{\"gamma\":1}]},{\"featureType\":\"road.arterial\",\"stylers\":[{\"hue\":\"#FFE100\"},{\"saturation\":8.600000000000009},{\"lightness\":-4.400000000000006},{\"gamma\":1}]},{\"featureType\":\"road.local\",\"stylers\":[{\"hue\":\"#00C3FF\"},{\"saturation\":29.31034482758622},{\"lightness\":-38.980392156862735},{\"gamma\":1}]},{\"featureType\":\"water\",\"stylers\":[{\"hue\":\"#0078FF\"},{\"saturation\":0},{\"lightness\":0},{\"gamma\":1}]},{\"featureType\":\"poi\",\"stylers\":[{\"hue\":\"#00FF19\"},{\"saturation\":-30.526315789473685},{\"lightness\":-22.509803921568633},{\"gamma\":1}]}]",
        enable_sticky: "1"
    }</script>
<script type="text/javascript" src="assets/4a74c.js.download"></script>
<div class="crt-tooltip arrow-left" style="left: 1548.5px; top: 241px; display: none;">Statistics</div>
</body>
</html>