<div class="vertical-icons-div hide-on-small-and-down">

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="SUMMARY" data-position="left" href="#Summary">
        <i class="outline-chat icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="PERSONAL INFORMATION" data-position="left" href="#Personal-information">
        <i class="outline-perm_identity icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="LANGUAGES" data-position="left" href="#Languages">
        <i class="outline-language icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="Education" data-position="left" href="#Education">
        <i class="outline-school icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="Courses" data-position="left" href="#Courses">
        <i class="outline-local_library icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="Work Experience" data-position="left" href="#Work-Experience">
        <i class="outline-touch_app icon-image-preview"></i>
    </a>

    <a class="waves-effect waves-light tooltipped"
       data-tooltip="samples" data-position="left" href="#samples">
        <i class="outline-mms icon-image-preview"></i>
    </a>

</div>