$my-red: #a71a1f;
$my-blue: #223d72;
$my-gray: rgba(75, 75, 75, 0.88);
body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

  font: 18px 'Raleway', sans-serif;
  background: #f3f3f3;
}

#crtBgShape1 {
  left: 0;
}

#crtBgShape1,
#crtBgShape2 {
  top: 0;
  position: fixed;
  z-index: -1;
}

svg:not(:root) {
  overflow: hidden;
}

#crtBgShape2 {
  top: -100px;
  right: -100px;
}

#crtBgShape1 polygon {
  fill: $my-red;
}

#crtBgShape2 polygon {
  fill: $my-blue;
}

.my-dark-blue {
  background: $my-blue;
}

.my-social-btns:hover {
  background: none;
  opacity: 0.7;
  transition-delay: 0.1s;
}

.btn-block {
  width: 100%;
}

.main-titles {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
  color: #000;
}

.main-text {
  color: $my-gray;
  text-align: justify;
  font: 1.1em 'Quicksand', sans-serif;
  line-height: 1.7em;
}

.courses-work-experience {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .courses-work-experience {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    text-align: left;
  }
}

.h4-name {
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.2rem;
}

.my-list {
  line-height: 2.5rem;
}

.education-box h3 a {
  font-size: 0.7em;
  color: $my-red;
}

.education {
  a,
  p {
    color: $my-gray;
    font: 1em 'Quicksand', sans-serif;
    line-height: 1.7em;
  }
}

.mt-0 {
  margin-top: 0;
}

.no-borders,
.no-borders li {
  border: none;
}

.vertical-icons-div {
  padding-top: 8em;

  i {
    width: 1.8em;
    height: 1.8em;
  }

  a {
    display: block;
    margin-bottom: 1em;
  }
}

#Work-Experience {
}

#goToTop {
  bottom: 3em;
  right: 2em;
}

.galleryIcons i {
  vertical-align: middle;
  margin-left: 1em;
}

/* increase the height and width as you desire */

@media (max-width: 992px) {
  .vertical-icons-div {
    display: none;
  }
}

.sticky-top {
  display: flex;
}

@media (min-width: 993px) {
  .sticky-top {
    position: sticky;
    top: 0;
  }
}

@media (max-width: 992px) {
  #personal-photo {
    width: 50%;
  }
  .card-profile-left {
    text-align: center;
    width: 100%;
  }
  .h4-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 460px) {
  .personal-label-span {
    display: none;
  }
}

p.extra-skills-desc {
  font: 1em 'Quicksand', sans-serif;
}

.material-icons {
  vertical-align: middle;
}
