.grid {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.grid-sizer, .grid-item {
  width: 7em
}

/* 2 columns */
.grid-item--width2 {
  width: 15em
}

@media (max-width: 373px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

.grid-item {
  float: left;
  margin-bottom: 1em;

  img {
    display: block;
    max-width: 100%;
    border-left: solid 3px #223d72;
  }
}

